<!DOCTYPE html>
<html> 
<head> 
    <!-- Load the Google Maps JavaScript API. initMap is will execute when the API has loaded. -->
    <script src="https://maps.googleapis.com/maps/api/js?v=beta&key={{MAPS_APIKEY}}&libraries=places,marker,routes,visualization&callback=initMap"
        async
        defer>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
<body> 
    <div id="leftSidebar" class="sidebar">
        <div id="searchBar">
            <input type="text" id="searchBarInput" placeholder="Enter your location" />                
            <img src="static/img/bike.png" alt="Bike_icon" />
            <div id = "dropdown-content"></div>
            <!-- Left sidebar content will go here as a dropdown -->
            <!-- Nearest station options will be populated dynamically -->
        </div>            
    
        <div id="BikeModel" class="sidebar-section">
            <p class="placeholder-text">Click on a station icon for more info</p>
            <!-- The predicted plot image will be appended here by JavaScript -->
        </div>
        
    </div>
    <div id="current-time"></div>
    <div id="map"><!-- Container for the Google Map. --></div>

    

    <button id="toggle-right-sidebar">
        <img src= "static/img/weatherIcon.png" alt="rightSidebar Image">
    </button>
    <div id="rightSidebar" class="sidebar">
        <div id="weather-data">
            <!-- Weather data will be populated dynamically -->
        </div>       
        
        <!-- Div for bike predicitons-->
        <div id="bike-data" class="sidebar-section">
            <p class="placeholder-text">Click on a station icon for more info</p>
            <!-- The heatmap image will be appended here by JavaScript -->
        </div>

    </div>         
    
    </div>         
    
    <!-- Stations variable from the Flask context, converted to JSON. -->
    <script>
        var stations = {{ stations | tojson | safe }};
    </script>
</body>
</html>