html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

/*=================================================================================*/
/*---------------------------------- MAP ---------------------------------------- */
#map {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    z-index: 1;
}

/* https://developers.google.com/maps/documentation/javascript/examples/advanced-markers-animation#maps_advanced_markers_animation-css */
@keyframes drop {
    0% {
        transform: translateY(-200px) scaleY(0.9);
        opacity: 0;
    }
    5% {
        opacity: 0.7;
    }
    50% {
        transform: translateY(0px) scaleY(1);
        opacity: 1;
    }
    65% {
        transform: translateY(-17px) scaleY(0.9);
        opacity: 1;
    }
    75% {
        transform: translateY(-22px) scaleY(0.9);
        opacity: 1;
    }
    100% {
        transform: translateY(0px) scaleY(1);
        opacity: 1;
    }
}

.drop {
    animation: drop 0.4s linear forwards var(--delay-time);
}

#userPinIcon {
    height: 90%;
    width: auto;
    background-color: transparent;
}

/*---------------------------------- MAP END------------------------------------- */
/*===============================================================================*/



/*=================================================================================*/
/*---------------------------------- LEFT SIDEBAR ------------------------------- */
#leftSidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.808);
    width: 30%;
    z-index: 4;
}

#weather-data {
    position: absolute;
    top: 0; 
    padding: 0;
    padding-left: 6px;
    left: calc(20% + 10px); 
    width: 80%; 
    height: auto; 
    background-color: rgba(255, 255, 255, 0.966);
    z-index: 5;
    font-family: Arial, sans-serif;
    font-weight: 300;
    font-size: smaller;
    border-left: 1px solid #0000003d; 
}

#BikeModel {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translateX(-50%);
    width: 80%; 
    height: auto;
    max-height: 50vh; 
    background-color: rgb(255, 255, 255);
    border: 1px solid #cccccc;
    overflow-y: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 20px; 
}



/*---------------------------------- LEFT SIDEBAR END---------------------------- */
/*===============================================================================*/



/*=================================================================================*/
/*---------------------------------- RIGHT SIDEBAR ------------------------------- */
#rightSidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    background-color: rgb(255, 255, 255);
    z-index: 5;
}

#toggle-right-sidebar {
    position: absolute;
    top: 3%;
    right: calc(1cm - 20px);
    border: 2px solid gold;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.5s ease-in-out; 
}

#rightSidebar {
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out; 
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    background-color: rgb(255, 255, 255);
    z-index: 5;
}

#toggle-right-sidebar img {
    height: 60px;
    width: auto;
}

#toggle-right-sidebar.small-button {
    top: 3%;
    width: 4px; 
    height: 4px; 
    right: 5%;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, right 0.5s ease-in-out; 
    background-color: rgba(255, 255, 255, 0.966);
}

#weatherChart {
    z-index: 9;
    margin-top: 14%;
    width: 100% !important;
    height: auto !important;
}


#bike-data {
    position: absolute;
    top: 45%;
    right: 16px; 
    width: calc(90%); 
    height: calc(50%); 
    z-index: 5;
    overflow: hidden; 
    display: flex; 
    justify-content: center;
    align-items: center; 
}





/*---------------------------------- RIGHT SIDEBAR END--------------------------- */
/*===============================================================================*/



/*=================================================================================*/
/*---------------------------------- SEARCHBAR ---------------------------------- */
#searchBar {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #cccccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

#searchBar input[type="text"] {
    flex: 1;
    border: none;
    height: 90%;
    width: 1%;
    margin-left: 10px;
    font-size: 16px;
}

#searchBar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 40px;
    display: flex;
    align-items: center;
}

#searchBar img {
    height: 30px;
    width: auto;
}

#dropdown-content {
    position: absolute;
    top: calc(10% + 35px); 
    left: 50%;
    width: 420px; 
    transform: translateX(-50%);
    z-index: 1000; 
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: auto; 
}

#dropdown-content button {
    display: flex; 
    align-items: center; 
    justify-content: start;
    width: 100%;
    padding: 10px 16px; 
    border-bottom: 1px solid #f0f0f0; 
    background-color: #fff; 
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s; 
    position: relative; 
    margin-bottom: 1.5%;
}

#dropdown-content button:last-child {
    border-bottom: none; 
}

#dropdown-content button:hover {
    background-color: #f2f2f2; /* Subtle hover effect */
}

.station-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}

.station-info > .icon {
    margin-right: 10px; 
}
.station-info > span {
    position: relative;
    top: 10px; 
    left: 3px; 
    margin-left: 0; 
}

.station-name, .station-status, .station-distance, .station-bikes, .station-bike-stands {
    display: flex;
    align-items: center;
    margin-right: 15px; 
    flex-wrap: nowrap; 
}

.station-name {
    font-weight: bold;
    margin-right: 10px; 
}

.station-info .icon:not(:last-child) {
    margin-right: 10px;
}





/*---------------------------------- SEARCHBAR END------------------------------- */
/*===============================================================================*/


/*=================================================================================*/
/*---------------------------------- CURRENT TIME ------------------------------- */
#current-time {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    border: 1px solid #cccccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/*---------------------------------- CURRENT TIME END------------------------------ */
/*=================================================================================*/

/*=================================================================================*/
/*---------------------- PHONE/SMALLER SCREEN SUPPORT --------------------------- */

@media only screen and (max-width: 1480px) {
    #searchBar {
        width: 300px; 
        left: 10px; 
        right: 10px; 
        transform: none; /
    }
    
    #dropdown-content {
        width: 300px; 
        left: 10px; 
        right: 10px; 
        transform: none; 
    }
}

@media only screen and (max-width: 1080px) {
    #searchBar {
        width: 200px; 
        left: 10px; 
        right: 10px; 
        transform: none; 
    }
    
    #dropdown-content {
        width: 200px;
        left: 10px; 
        right: 10px; 
        transform: none;
    }
}

/*---------------------------PHONE/SMALLER SCREEN SUPPORT END-------------------- */
/*===============================================================================*/
